.gradient-blue {
    background: rgb(26, 178, 237);
    background: linear-gradient(
      90deg,
      rgba(26, 178, 237, 1) 0%,
      rgba(30, 64, 132, 1) 95%
    );
    border-radius: 10px;
    color: #fff;
  }
    .gradient-pink {
    background: rgb(191, 44, 110);
    background: linear-gradient(
      90deg,
      rgba(191, 44, 110, 1) 0%,
      rgba(244, 90, 103, 1) 95%
    );
    border-radius: 10px;
    color: #fff;
  }

//  LAYOVER FOR MAIN POST IN SECTION LATEST POSTS
  .layover{
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    border-radius: 20px;
}