.white{
    color:#fff;
}

.light-grey{
    color:lightslategray;
}

.pt-10{
    padding-top: 10rem
}

.p-50{
    padding:50px;
}

.button-box-shadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.clickable{
    cursor: pointer;
}


.h-350{
    height: 350px;
}

.w-100p{
    width:100px;
}

